<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="description" content="Magazin Componente Auto care ofera o gama 
        larga de produse pentru intretinerea si repararea masinii dumneavoastra. 
        Oferim piese de calitate la preturi competitive, 
        cu livrare rapida si servicii excelente pentru clienti.">
        <meta name="keywords" content="piese auto, intretinere auto, reparatii auto, magazin piese auto, piese de calitate, preturi competitive, livrare rapida, servicii clienti">
        <title>Magazin Componente Auto</title>

        <%- include("../fragmente/head.ejs") %>
    </head>

    <body>
        <%- include("../fragmente/header.ejs") %>
        <main> 
            A doua pagina!
        </main>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>