<footer>
            <small>&copy; Pagina web creata in data de <time datetime="2026-03-01">1 martie 2026</time>. Toate drepturile rezervate.</small>
            <a href="#top" id="link-top">
                <div class="diamant"></div>
                <div class="triunghi"></div>
                <span class="tooltip">Mergi la inceputul paginii</span>
            </a>
            <p><a href="resurse/imagini/turbo/turbo_1920.jpg"><img src="resurse/imagini/turbo/turbo_640.jpg" alt="Turbo link imagine" ></a></p>
            <p><a href="resurse/imagini/turbo/turbo_640.jpg" download="turbo_descarcat.jpg">Descarca imaginea turbo</a></p>

            <address>
                <p><strong>Contact</strong></p>
                <p><strong>Telefon:</strong> <a href="tel:+40123456789">+40 123 456 789</a></p>
                
                <p><strong>Adresa:</strong><br>
                   <a href="https://www.google.com/maps/search/Facultatea+de+Matematica+si+Informatica" target="_blank" rel="noopener">Str. Academiei nr. 14<br>
                   Sector 1, Bucuresti 70109<br>
                   Romania</a>
                </p>
                <iframe src="https://www.google.com/maps?q=44.435556,26.09975&hl=ro&z=19&output=embed" width="400" height="250" allowfullscreen="" loading="lazy"></iframe>
                
                <p><strong>Email:</strong> <a href="mailto:contact@magazinpieseauto.ro">contact@magazinpieseauto.ro</a><i class="fa-solid fa-envelope"></i></p>
                
                <p><strong>WhatsApp:</strong> <a href="https://www.whatsapp.com/" target="_blank" rel="noopener">WhatsApp</a></p>
            </address>
        </footer>